@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --bg-amber-450: #fda027;

  --border-gray-100: #e4dfdf;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

a {
  width: fit-content;
  text-decoration: none;
}
